{
  "presets": [
    // [
    //   "@babel/preset-env",
    //   {
    //     "corejs": 3,
    //     "useBuiltIns": "usage",
    //     "modules": false,
    //     "loose": true
    //   }
    // ],
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
      ]
    }
  }
}
