# Ignorar arquivos específicos
.DS_Store
Thumbs.db

# Ignorar todos os diretórios e arquivos em um diretório.
node_modules/**/*
.sass-cache/**/*
src/.sass-cache/**/*
project/css/**
project/img/**
project/js/**


