        <footer class="footer">
        Copyright © 2014 - <span id="year"></span> Tiago Porto
        </footer>

        <!-- build:js js/demo.js -->

        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/jquery-logo-downloadtip/js/jquery-logo-downloadtip.min.js"></script>
        <script src="js/accessibility-buttons.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/vendors.js"></script>
        <!-- endbuild -->

        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
