button
    border 2px solid black
    display block
    width 100%
    font-size: em(14px)
    padding em(10px) em(20px)
    overflow hidden
    margin 0
    text-align center
    text-decoration none
    user-select none
    -webkit-tap-highlight-color transparent
    color #000
    background: transparent
    transition .15s ease-out
    cursor pointer
    background-color none

    &:hover
        background: #000
        color: #FFF

    &:focus
        box-shadow: 0 0 0 0.2rem rgba(#000,.5)
        outline: none

    .accessibility-contrast &
        border-color: #E3FF17
        color: #E3FF17

        &:hover
            background: #E3FF17
            color: #000

        &:focus
            box-shadow: 0 0 0 0.2rem rgba(#FFF,.5)
            outline: none
