/*
 *
 * Box model reset
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */
html
  box-sizing: border-box
  font-size: 100%

*, *:before, *:after
  box-sizing: inherit
