/* Typography */
body {
  font: normal normal 1em/1.1875em Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "frac", "liga";
  -moz-font-feature-settings: "frac=1, liga=1";
  -ms-font-feature-settings: "frac", "liga";
  -o-font-feature-settings: "frac", "liga";
  -webkit-font-feature-settings: "frac", "liga";
  font-feature-settings: "frac", "liga"; }

/* Main */
.accessibility-font {
  font-size: 1.125em; }

.accessibility-contrast {
  color: white;
  background: black; }
