// Color
$primary-color = #000
$secondary-color = #000
$tertiary-color = #000

$bg-color = #FFF
$selection-color = #FFF
$selection-bg-color = $primary-color

// Paths
$font-path = "../fonts/"

$image-path = "../img/"

// Typography
$font-family-base = Helvetica, Arial, sans-serif

$base-font-size = 16px
$base-line-height = 24px
$base-text-color = #000

$font-size-h1 = 36px
$font-size-h2 = 32px
$font-size-h3 = 30px
$font-size-h4 = 28px
$font-size-h5 = 24px
$font-size-h6 = 20px

$header-weight = bold

// Vertical Rhythmn
$debug-vertical-rhythm = false
$debug-color-line = #000


// Media queries

// The EMs have it: Proportional Media Queries FTW!
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// 7 Habits of Highly Effective Media Queries
// http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/
$phone = 480px
$tablet = 768px
$desktop = 992px

// Layout
