::selection {
  background: #000;
  color: #fff;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #000;
  font-family: Lora, 'Times New Roman', Times, Georgia, serif;
  font-feature-settings: 'liga', 'kern';
  font-optical-sizing: auto;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
}
