html {
  font-size: 100%;
}

body {
  transition:
    background 1s ease,
    font-size 0.7s linear;
}

input,
textarea,
select,
button {
  transition: all 0.6s linear;
}

.accessibility-font {
  font-size: 1.25rem;
}

.accessibility-font input,
.accessibility-font textarea,
.accessibility-font select,
.accessibility-font button {
  font-size: 1.0416rem;
}

.accessibility-contrast {
  background: #000;
  color: #fff;
}
