@import "settings/_variables"

// @import "helpers/_mixins"
@import "helpers/_functions"


html
    font-size: 100%

body
    transition background 1s ease, font-size .7s linear

input, textarea, select, button
    transition all .6s linear

.accessibility-font
    /* First font-size fallback to older browsers*/
    font-size em(20)
    font-size 1.25rem

    input, textarea, select, button
        /* The default font-size of these elements is approximately 20% less than the body */
        font-size em(16.666)
        font-size 1.04163rem

.accessibility-contrast
    color #FFF
    background #000
