<!doctype html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#FFF">
    <meta name="application-name" content="<%= appName %>">

    <link rel='mask-icon' href='img/logo.svg' color='#2698DD'>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="site.webmanifest">


    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>

<!--
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
Logos downloadtip
<link rel="icon" type="image/png" href="img/logos/accessibility-buttons-logo.png" data-title="Screen Bitmap file (.png)" />
<link rel="icon" type="image/svg+xml" href="img/logos/accessibility-buttons-logo.svg" data-title="Screen Vector file (.svg)" />
<link rel="icon" type="image/eps" href="img/logos/accessibility-buttons-logo.eps" data-title="Print file (.eps)" />
-->
